doctype html 
html. 
   <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Train Ticket Booking</title>
   <link rel="stylesheet" href="stylesheets/getTrain.css">
   <script src="scripts/gettrain.js"></script>
   </head>
   <body>
   <header>
   <h1>List of Trains </h1>
   <h3> From: #{from} </h3>
   <h3> To: #{to} </h3>
   <h3> On Date: #{date}</h3>
   </header>
   <div class="container">
   each train in trains 
    <form action="/Showtrainss" method="post">
    <div class="train">
    <input type="hidden" value= #{train.train_no} name="number" />
    <input type="hidden" value= #{date} name="datee" />
    h2= train.train_name
    h2= train.train_no
    <h4>Cost: #{train.cost}<h4>
    <button class="btn" type="submit">Book Ticket</button></a>
    </div>
    </form>
   </div>
   </body>
