html. 
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket!</title>
    <link rel="stylesheet" href="stylesheets/trainsucess.css">
    </head>
    <body>
    <div class="confirmation-container">
    <i class="ticket-icon">&#10003;</i>
    <h1>Ticket Booked Successfully!</h1>
    <div class="confirmation-message">
    <p>Ticket Details are</p>
    <h3> Train    : #{template.train_name} (#{template.train_no})<h1>
    <h3> Date     :#{template.boarding_date}<h1>
    <h3> Scheduled Time    : #{template.boarding_time}<h1>
    <h4>From: #{template.from} To: #{template.to}<h4> 
    <h4>Seat number is <h3>#{seat_number}<h3><h1>

    <p>Thank you for choosing our service.</p>
    </div>
    <a href="http://127.0.0.1:3000/Login" class="cta-button">Go to Login Page</a>
    </div>
    </body>

